name: Test

on: [push]

jobs:

  build:

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: 'stable'
      - name: Build and test using make file
        run: make build